body{
    font-family: 'Poppins', sans-serif;
    margin: 50px;
}
span{
    color:orange;
}
h1{
    text-align: left;
}
p{
    text-align: justify;
}
section{
    display: flex;
}
a{
    text-align: right;
}
.div-01{
   width: 50%;
   margin: 0px;
   text-align: center;
}
.div-02{
    width: 100%;
    margin: 0;
}
.h-01{
    text-align: center;
}
.left-top{
    width: 150px;
    height: 150px;
}
.div-03-01{
    width: 33.33%;
    margin: 20px;
    padding: 20px;
    background-color: rgba(240, 127, 255, 0.24);
    border-radius: 40px;
}
.div-03-02{
    width: 33.33%;
    margin: 20px;
    padding: 20px;
    background-color: rgba(127, 255, 212, 0.267);
    border-radius: 40px;
}
.div-03-03{
    width: 33.33%;
    margin: 20px;
    padding: 20px;
    background-color: rgba(180, 238, 86, 0.384);
    border-radius: 40px;
}